@import "/src/constants/variables.scss";

.grid {
  display: grid;
  background-color: $grid-background;
  width: 100%;
  height: 25rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  margin: 1rem 0;

  .grid-element {
    cursor: pointer;
  }
}
